*{margin:5px;
  padding:2px;
  box-sizing:border-box
  }
.img {box-sizing:border-box ;
         margin:auto;
          }
body {background-image:url(../images/page-bg.jpg); 
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center;
      }
h2 {font-family: Pathway Gotic One;
    } 
.wrapper {width:480px;
      display:block;
      margin:auto;
      padding:20px;
      border:solidcolor white;
      background:white; 
      }

 .text {font-weight:bold;
       }
 
 .list {column-count:2;
       list-style:none;
       }